*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin: 5.07em auto auto auto;
    width: 90%;
}

footer{
    font-family: 'Montserrat', sans-serif;
    color: #bdbdbd;
    margin-top: 10%;
    text-align: center;
}

footer a {
    font-family: 'Montserrat', sans-serif;
    color: #4d4d4d;
}


header{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 2.57em;/*36px*/
    font-family: 'PT Serif', serif;
    font-weight: 700;
    padding-bottom: 0.71em;/*25.55px*/
}

h2{
    font-size: 1.29em;/*18px*/
    font-weight: 600;
    padding-bottom: 0.56em;/*10px*/
    text-transform: uppercase;
}

h3{
    font-weight: 600;
    font-size: 1em;
}

h4{
    font-size: 0.71em;/* 10px */
    font-weight: 400;
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    height: max-content;
    margin-left: 0.5%;
}

img{
    width: 139px;
    height: 210px;
}

.header_content{
    padding: 2.28em 0;/* 32px*/
}

.team{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr 3fr 1fr 1fr 3fr 1fr;
    grid-template-areas: "card1 space1"
                        "card1 card2"
                        "space2 card2"
                        "card3 space3"
                        "card3 card4"
                        "space4 card4"
                        "card5 space5"
                        "card5 card6"
                        "space6 card6";
    justify-items: center;
}

.team_member{
    position: relative;
}

.team #team_member_1{
    grid-area: card1;
}

.team #team_member_2{
    grid-area: card2;
}

.team #team_member_3{
    grid-area: card3;
}

.team #team_member_4{
    grid-area: card4;
}

.team #team_member_5{
    grid-area: card5;
}

.team #team_member_6{
    grid-area: card6;
}


/*-------Media Queries---------------*/
/* 576px and up */
@media(min-width: 576px){
    .team{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 3fr 1fr 1fr 3fr 1fr;
        grid-template-areas: "card1 space1 card3"
                            "card1 card2 card3"
                            "space2 card2 space3"
                            "card4 space4 card6"
                            "card4 card5 card6"
                            "space5 card5 space6";
    }
}

/* 768px and up */
@media(min-width: 768px){
    body{
        max-width: 691px;
    }    
}

/*992 and up*/
@media(min-width: 992px){
    body{
        max-width: 921px;
    }

    img{
        width: 238px;
        height: 341px;
    }
}
